<form [formGroup]="userForm" class="space-y-4">
  
  <h2 class="text-xl font-semibold text-gray-800">Editar Usuario</h2>

  <div>
    <label class="block text-sm font-medium mb-1">Email*</label>
    <input 
      id="email" 
      formControlName="email" 
      type="email"
      disabled
      class="w-full border rounded-md px-4 py-2 focus:ring focus:ring-red-200 disabled:bg-gray-100 disabled:cursor-not-allowed"
    />
    @if (userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)) {
      <p class="text-red-600 text-sm mt-1">Email is required</p>
    }
    @if (userForm.controls['email'].errors?.['email']) {
      <p class="text-red-600 text-sm mt-1">Invalid Email</p>
    }
  </div>

  <div>
    <label class="block text-sm font-medium mb-1">Name*</label>
    <input 
      id="name" 
      formControlName="name" 
      type="text"
      class="w-full border rounded-md px-4 py-2 focus:ring focus:ring-red-200"
    />
  </div>

  <div>
    <label class="block text-sm font-medium mb-1">Lastname*</label>
    <input 
      id="lastname" 
      formControlName="lastname" 
      type="text"
      class="w-full border rounded-md px-4 py-2 focus:ring focus:ring-red-200"
    />
  </div>
  
  <div class="flex justify-end pt-2">
    <button 
      (click)="callSave()" 
      [disabled]="userForm.invalid"
      class="bg-[#B71C1C] disabled:bg-blue-300 text-white px-5 py-2 rounded-md transition"
    >
      Save
    </button>
  </div>
</form>