.ltr {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  width: 100%;
}

.page-body-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

main {
  flex: 1;
  padding-bottom: 20px;
}

.footer {
  margin-left: 0 !important;
  width: 100% !important;
  margin-top: auto;
  position: relative;
  left: 0 !important;
  right: 0;
  
  .container-fluid {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}

