<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if (products.length === 0) {
      <tr>
        <td colspan="7" class="text-center">No hay productos registrados</td>
      </tr>
      } @for (product of products; track product.id) {
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.descripcion }}</td>
        <td>{{ product.precio ? "₡" + product.precio : "N/A" }}</td>
        <td>{{ product.stock ?? "N/A" }}</td>
        <td>{{ product.category?.nombre || "N/A" }}</td>
        <td>
          @if (authService.areActionsAvailable(['ROLE_SUPER_ADMIN',
          'ADMIN_ROLE'])) {
          <button
            (click)="callEditMethod.emit(product)"
            class="btn btn-sm btn-warning me-2"
            type="button"
          >
            Editar
          </button>

          <button
            (click)="callDeleteMethod.emit(product)"
            class="btn btn-sm btn-danger"
            type="button"
          >
            Eliminar
          </button>
          } @else {
          <span class="text-muted">Sin permisos</span>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
