@defer {
  <div class="row p-4">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Productos</h2>
      </div>
    </div>

    @if (authService.areActionsAvailable(['ROLE_SUPER_ADMIN', 'ADMIN_ROLE'])) {
      <div class="row mb-4">
        <div class="col-12">
          <app-product-form
            [form]="form"
            [categories]="categoryService.categories$()"
            (callSaveMethod)="save($event)">
          </app-product-form>
        </div>
      </div>
    } @else {
      <div class="alert alert-secondary text-center" role="alert">
        No tienes permisos para agregar productos.
      </div>
    }

    <div class="col-12">
      <app-products-table
        [products]="productService.products$()"
        [areActionsAvailable]="true"
        (callEditMethod)="editProduct($event)"
        (callDeleteMethod)="delete($event)">
      </app-products-table>
    </div>

    @if (productService.products$().length) {
      <app-pagination
        [service]="productService"
        [customCall]="false">
      </app-pagination>
    }
  </div>
} @loading (minimum 1.5s) {
  <app-loader />
}
