name: CI

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./autocut

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
        cache-dependency-path: './autocut/package-lock.json'

    - name: Install dependencies
      run: npm install

    - name: Setup environment files
      run: |
        cp src/environments/environment.example.ts src/environments/environment.ts
        cp src/environments/environment.development.example.ts src/environments/environment.development.ts

    - name: Build
      run: npm run build
